<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="atlas"
             type="Host.Configuration.HostConfiguration, Atlas" />
  </configSections>
  
  <atlas>
    <host name="MyService" allowMultipleInstances="true">
      <dependencies>
        <add name="MSMQ" timeToWait="30" />
      </dependencies>
    </host>
  </atlas>

</configuration>